.vh-100{
	height: 100vh;
}

.bkg100 {
	position:fixed;
    left:0;
    top:0;
	height: 100%;
	width: 100%
}

.f-hacked-kerx {
	font-family: Hacked-KerX;
}

@font-face {
   font-family: Hacked-KerX;
   src: url("..\\css\\theme\\Hacked-KerX.ttf");
}