.vh-100{
	height: 100vh;
}

.bkg100 {
	position:fixed;
    left:0;
    top:0;
	height: 100%;
	width: 100%
}

.f-hacked-kerx {
	font-family: f-Hacked-KerX;
}

.f-play {
	font-family: f-play;
}

.f-play-bold {
	font-family: f-play-bold;
}

@font-face {
   font-family: f-Hacked-KerX;
   src: url("..\\css\\theme\\Fonts\\Hacked-KerX\\Hacked-KerX.ttf");
}

@font-face {
   font-family: f-play;
   src: url("..\\css\\theme\\Fonts\\Play\\Play-Regular.ttf");
}

@font-face {
   font-family: f-play-bold;
   src: url("..\\css\\theme\\Fonts\\Play\\Play-Bold.ttf");
}

#canvas {
    border: 1px solid black;

}